/* ==========================================================================
  c-content
   ========================================================================== */

.c-content p {
  margin: 0 0 1.4rem;
}

.c-content h1, .c-h1 {
  font-size: 4.8rem;
  margin: 0 0 1.4rem;
}

.c-content h2, .c-h2 {
  font-size: 3.4rem;
  margin: 0 0 1.4rem;
}

.c-content h3, .c-h3 {
  font-size: 2.4rem;
  margin: 0 0 1.4rem;
}

.c-content h4, .c-h4 {
  font-size: 2rem;
  margin: 0 0 1.4rem;
}

.c-content h5, .c-h5 {
  font-size: 1.8rem;
  margin: 0 0 1.4rem;
}

.c-content h6, .c-h6 {
  font-size: 1.6rem;
  margin: 0 0 1.4rem;
}