/* ==========================================================================
  c-tabs
   ========================================================================== */

.c-tabs {
  display: flex;
}

.c-tabs a {
  color:  #2A2D31; /* gray 800 */
  display: block;
  text-decoration: none;
  padding: 1rem;
  border-bottom: .3rem solid transparent;
}

.c-tabs a:hover,
.c-tabs a:focus {
  background: #F4F5F6; /* gray 100 */
}

.c-tabs a.active {
  border-bottom: .3rem solid #CCD1D9; /* gray-300 */
}