

/* ==========================================================================
  Spacing utitilities
   ========================================================================== */

.u-mb-2 {
  margin: 0 0 1.2rem;
}

.u-m-2 {
  margin: 1.2rem;
}

.u-mx-2 {
 margin: 0 1.2rem;
}

.u-mx {
 margin: 0 0.6rem;
}