<div class="c-navbar">
  <div class="c-toolbar">
    <h1 class="c-app-title u-mx-2">App title</h1>
    <ul class="c-tabs">
      <li><LinkTo @route="app.dashboard">Dashboard</LinkTo></li>
      <li><LinkTo @route="app.module1">Module 1</LinkTo></li>
      <li><a href="#">Module 2</a></li>
      <li><a href="#">Module 3</a></li>
      <li><a href="#">Module 4</a></li>
    </ul>
    <div class="c-toolbar__spacer"></div>
    <p>
      <a href="/sign-in" class="u-mx-2">Afmelden</a>
    </p>
  </div>
</div>
