<Modal>

{{!--  <h3 class="c-h3">Add item</h3>

  <div class="c-form-group">
    <label class="c-label">Label</label>
    <input type="text" class="c-input">
  </div>

  <div class="c-form-group">
    <label class="c-label">Label</label>
    <input type="text" class="c-input">
  </div>

  <div class="c-form-group">
    <label class="c-label">Label</label>
    <input type="text" class="c-input">
  </div>

  <Button @skin="secondary">Back</Button>
  <Button @skin="primary" @icon="add">Add</Button>
   --}}
  <p>Hello... this is some content</p>
</Modal>
