<MainNav />

<div class="c-navbar">
  <div class="c-toolbar">
    <a class="c-button c-button--icon c-button--secondary u-mx" href="/app/module1">
      <span class="u-sr-only">Back...</span>
      <img src="/icons/chevron-left.svg">
    </a>
    <h2 class="c-toolbar__title">Detail page title</h2>
    <div class="c-toolbar__spacer"></div>
    {{!-- @q how to pass click event? --}}
    {{!-- <button {{ on 'click' (fn this.sayHi ) }}>yo</button> --}}
    <Button @skin="primary" class="u-mx" >Save</Button>
  </div>
</div>

<div class="u-m-2">

  <div class="c-columns">
    <div class="c-columns__column">

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>
  
    </div>
    <div class="c-columns__column">

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>

      <div class="c-form-group">
        <label class="c-label">Label</label>
        <input type="text" class="c-input">
      </div>
  
    </div>
  </div>

</div>
