<h2>Button</h2>

<h3>Primary button</h3>

<div class="br-styleguide-sample">
  <Button @skin="primary">Button text</Button>
</div>

<pre><code>&lt;Button @skin=&quot;primary&quot;&gt;Button text&lt;/Button&gt;</code></pre>

<hr>

<h3>Secondary button</h3>

<div class="br-styleguide-sample">
  <Button @skin="secondary">Button text</Button>
</div>

<pre><code>&lt;Button @skin=&quot;primary&quot;&gt;Button text&lt;/Button&gt;</code></pre>

<hr>

<h3>Tertiary button</h3>

<div class="br-styleguide-sample">
  <Button @skin="tertiary">Button text</Button>
</div>

<pre><code>&lt;Button @skin=&quot;tertiary&quot;&gt;Button text&lt;/Button&gt;</code></pre>
