<h2>Modal</h2>

<StyleguideSample @title="Standard panel">
  <div class="c-panel">
   <div class="u-m-2">
     <h3 class="c-h4">Title</h3>
     <p>I am a panel...</p>
   </div>
  </div>
</StyleguideSample>

