<style>

  .c-sign-in-wrapper {
    padding: 2.4rem;
  }

  @media (min-width: 900px) {
    .c-sign-in-wrapper {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0;
    }

    .c-sign-in {
      max-width: 50rem;
      margin: 0 auto;
    }
  }

</style>

<div class="c-sign-in-wrapper">
  <div class="c-sign-in">

    <h1 class="c-h2">App name</h1>

    <div class="c-form-group">
      <label class="c-label">E-mail</label>
      <input type="text" class="c-input">
    </div>

    <div class="c-form-group">
      <label class="c-label">Password</label>
      <input type="password" class="c-input">
    </div>

    <p style="padding-top: 1.2rem;"><a class="c-button c-button--primary" href="/app/dashboard">Aanmelden</a></p>

  </div>
</div>